<div class="custom-links">
  {{#if theme.twitter}}
    <a href="https://twitter.com/{{theme.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
  {{/if}}
  {{#if theme.gplus}}
    <a href="https://plus.google.com/{{theme.gplus}}/posts" target="_blank"><i class="fa fa-google-plus"></i></a>&nbsp;&nbsp;
  {{/if}}
  {{#if theme.github}}
    <a href="https://github.com/{{theme.github}}/" target="_blank"><i class="fa fa-github"></i></a>&nbsp;&nbsp;·&nbsp;&nbsp;
  {{/if}}
  <a href="/about/">About me</a>
  {{!

  &nbsp;&nbsp;·&nbsp;&nbsp;
  <a href="/projects/">Projects</a>
  <a href="/veroffentlichungen/">Veröffentlichungen</a>
  &nbsp;&nbsp;·&nbsp;&nbsp;
  <a href="/alles-ausser-sprachkritik/">Sprachkritik</a>

  }}
</div>

